<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TTQLAV.Properties.Settings.QL_TTANHNGUConnectionString"
            connectionString="Data Source=LAPTOP-NJI5KN3O;Initial Catalog=QL_TTANHNGU;User ID=sa;Password=ThuLai*1212"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>